.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 5px 15px;
}

.chat_list {
  margin-top: 3%;
  width: 25%;
  background-color: #f2f2f2;
  padding: 20px;
  overflow-y: auto;
}
.chat_item_border {
  border-bottom: 1px solid #ccc;
}
.chat_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.chat_details {
  flex: 1;
}

.chat_details h3 {
  margin: 0;
}

.chat_window {
  margin-top: 3%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat_header {
  background-color: #f2f2f2;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.chat_messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat_input {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.chat_input input {
  flex: 1;
  padding: 10px;
}

.chat_input button {
  margin-left: 10px;
}

.submit_div {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move the form to the right */
}

.submit_button {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  color: #fff;
  background-color: #0073b1;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s ease;
}