.progressbar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 6px;
}

.progressstepscontainer {
  display: flex;
  flex-direction: row-reverse; /* Change flex direction to reverse */
  flex: 1;
}

.progressstep {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #ccc;
  color: #555;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.progressstep:not(:first-child):before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px; /* Adjust right position for arrow */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ccc; /* Change border to point to the left */
}

.progressstep:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px; /* Adjust left position for arrow */
  transform: translateY(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ccc; /* Change border to point to the right */
  display: none; /* Hide the arrow initially */
}


.progressstep:first-child:before {
  display: none;
}

.progressstep:last-child:after {
  display: none;
}

.progressstep.active {
  background-color: #007bff;
  color: #fff;
}

.progressstep.active:before {
  border-left-color: #007bff;/* Adjust border color */
}

.progressstep.active:after {
  display: block; /* Show the arrow for the active step */
  border-right-color: #007bff; /* Adjust border color */
}
