.react_slider {
    height: 50px;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.reactSlider_thumb {
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 25px;
    color: var(--color-background);
    background: var(--color-foreground);
}

.reactSlider_track {
    height: 10px;
    border-radius: 20px;
}

.reactSlider_track-0 {
    background: var(--color-background);
}

.reactSlider_track-1 {
    background: var(--color-foreground);
}

.reactSlider_track-2 {
    background: var(--color-background);
}