/* NotificationsNav */
.container {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    padding: 20px;
    position: absolute;
    margin-inline-start: -60px;
    border: 1px solid var(--color-foreground);
    border-radius: 10px;
    background-color: var(--color-background);
    box-shadow: 0 5px 10px #00000026;
}

.notifications_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 10px;
}

.no_notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 40px;
}

.notifications_head h4 {
    margin: 0;
    font-weight: bold;
    color: var(--color-text);
}

.notifications_list {
    margin: 0;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}


/* NotificationCard CSS */
.card {
    cursor: pointer;
    margin-block-end: 1px;
    border-block-end: 1px solid #eee;
    transition: 0.2s;

    display: flex;
    flex-direction: column;
}

.card:hover {
    transition: .1s;
    box-shadow: 0px 1px 11px var(--color-foreground);
}

.card:last-child {
    border-bottom: none;
}

.card_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 13px;
    padding-inline-end: 11px;
}

.card_user {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-text);
}

.card_date {
    font-size: 11px;
}

.card_message {
    padding: 1px;
    font-size: 13px;
    overflow-x: hidden;
    padding-inline-start: 17px;
    margin-block-end: 11px;
}


/* NotificationsPage */
.page_screen {
    inset-block-start: 70px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-block-end: 70px;
}

.page_content {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notifications_table {
    width: 100%;
    border-collapse: collapse;
}

.notifications_table th,
.notifications_table td {
    padding: 10px;
    border-block-end: 1px solid #ccc;
}

.notifications_table th {
    text-align: inset-inline-start;
    font-weight: bold;
}

.notifications_table tbody tr:hover {
    background-color: var(--color-scrollbar-thump);
}

.view_button,
.delete_button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-inline-start: 10px;
    cursor: pointer;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
}

.view_button {
    background-color: #007bff;
}

.delete_button {
    background-color: #ff0000;
}

.read_message {
    margin-inline-start: 15px;
    display: inline-flex;
    padding-inline-end: 15px;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
}

.mark_all {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-button);
    font-size: 0.95em;
    border-radius: 4px;
    text-decoration: underline;
}

.mark_all:hover {
    color: white;
    background-color: #007bff;
}


/* Screen Size compatiplity */
@media (max-width: 970px) {
    .container {
        position: relative;
        margin-inline-start: 0px;
    }

    .card {
        flex-direction: column;
        align-items: flex-start;
    }

    .card_user {
        padding: 0;
    }
}