.CompetitorCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-block-end: 16px;
  width: 90%
}

.CompetitorCardContent {
  display: flex;
}

.namer {
  display: flex;
}

.photoContainer {
  width: 100px;
  height: 100px;
  margin-inline-end: 16px;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info_container {
  flex: 1;
}

.name {
  position: relative;
  width: 25%;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}

.salary {
  margin-block-start: 8px;
  margin-inline-start: 100px;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--color-button);
}

.CompetitorDescription {
  margin-block-start: 8px;
}

.CompetitorRating {
  margin-block-start: 8px;
  width: 20%;
  position: relative;
  margin-inline-start: 50px;
}