.container {
    height: 180px;
    width:90%;
    margin-left: 5%;
    border:3px;
    border-radius: 20px;
    border-style: outset;
    border-color: var(--color-rating);
    margin-top: 3px;
}

.row {
    width: 100%;
    padding-top: 30px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.info {
    padding-left: 25px;
    padding-top: 5px;
    width: 30%;
    color: var(--color-button);
}

.secondcolumn{
    width: 45%;
    padding-top: 5px;
    color: var(--color-button);
}

.title{
    padding: 5px;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
    color: var(--color-title);
}

.salary{
    padding: 5px;
    font-weight: 500;
    font-size: 1.3em;

}

.imageholder {
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 10px;
}