.screen_content {
    z-index: 1;
    position: relative;
    padding: 90px 30px 0px 30px;
    height: 100%;
}

.form {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding-inline-start: 10px;
}

.row {
    display: flex;
    position: relative;
    width: 100%;
}

.column {
    position: relative;
    width: 50%;
}

.img_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_holder img {
    width: 250px;
    height: 250px;
    border: dashed;
    border-width: 1px;
    border-radius: 10px;
}

.heading {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

/* Date Picker */
.date_picker {
    width: 100%;
}

.date_picker_icon {
    margin-inline-start: -7px;
}

.error {
    font-size: 20px;
    color: red;
}

.submit_div {
    width: 100%;
    padding-block-start: 25px;
    display: flex;
    justify-content: center;
}

.submit_button {
    background: #fff;
    font-size: 15px;
    padding: 5px 10px;
    margin-block-end: 10px;
    border-radius: 25px;
    border: 1px solid var(--color-titles);
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 750;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    color: #295283;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}

.submit_button:active,
.submit_button:focus,
.submit_button:hover {
    border-color: var(--color-typeschecked);
    outline: none;
}

/* */
.register__field__radio {
    width: 100%;
    display: flex;
    padding-block-start: 20px;
    position: relative;
}

.register__input__radio {
    padding: 10px 0px;
    padding-inline-start: 3px;
    font-weight: 500;
    width: 35%;
    color: var(--color-foreground);
    text-decoration: inherit;
    accent-color: #4F6E95;
}

.register__row {
    display: flex;
    position: relative;
}

.skills {
    width: 100%;
    position: relative;
    padding-block-start: 30px;
    padding-block-end: 10px;
}

.skills input {
    border: none;
    background: none;
    color: var(--color-foreground);
    padding-inline-start: 24px;
    padding-block-end: 8px;
    width: 80%;
    font-size: 15px;
    font-weight: 700;
    transition: .2s;
}

.skills p {
    border: none;
    background: none;
    border-block-end: 1px dotted #A5A5A8;
    color: var(--color-foreground);
    margin-inline-start: 69px;
    margin-block-end: 23px;
    width: 69%;
}

.skills select {
    border: none;
    border-block-end: 2px solid #A5A5A8;
    background: none;
    color: var(--color-foreground);
    padding-inline-start: 24px;
    padding-block-end: 8px;
    width: 80%;
    height: 200px;
    font-size: 15px;
    font-weight: 700;
    transition: .2s;
}

.skills input:active,
.skills select:active,
.skills input:focus,
.skills select:focus,
.skills input:hover,
.skills select:hover {
    outline: none;
    border-block-end-color: #4F6E95;
}

.choosed_skills {
    width: 100%;
    position: relative;
    padding-block-start: 15px;
    padding-block-end: 10px;
}

.choosed_skill {
    width: 80%;
    border: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #302f2f;
    margin: 5px 1px;
}