.jobsPage {
    inset-block-start: 75px;
    position: relative;
    margin-block-end: 100px;
    min-height: 100vh;
}

.pagecontent {
    width: 100%;
    padding-block-start: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.left_side_container {
    width: 40%;
    min-width: 280px;
    padding-inline-start: 15px;
    margin-inline-start: 2%;
    display: flex;
    flex-direction: column;
    border-inline-end: 1px;
    border-inline-end-style: outset;
    border-inline-end-color: var(--color-typeschecked);
}

.imageholder {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-block-start: 10px;
    margin-block-end: 50px;
}

.image {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
}

.right_side_container {
    width: 60%;
    margin-inline-end: 2%;
    display: flex;
    flex-direction: column;
}

.titleholder {
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.title {
    position: relative;
    padding: 5px;
    padding-inline-start: 40px;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--color-title);
}

.name {
    position: relative;
    margin-block-end: 20px;
    margin-inline-start: 40px;
    margin-block-start: 20px;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--color-foreground)
}

.anchor {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.type {
    width: 100%;
    position: relative;
    padding-inline-start: 40px;
    font-weight: 600;
    font-size: 1.1em;
}

.description {
    position: relative;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--color-button);
    padding: 5px;
    padding-inline-start: 40px;
    margin-block-start: 10px;
    margin-block-end: 30px;
}

.salary {
    position: relative;
    font-weight: 400;
    font-size: 1.1em;
    padding-inline-start: 40px;
}

.state {
    position: relative;
    font-weight: 450;
    padding-block-start: 20px;
    padding-inline-start: 40px;
    color: var(--color-button);
}

.deadline {
    position: relative;
    font-weight: 500;
    font-size: 1.1em;
    padding-block-start: 20px;
    padding-inline-start: 40px;
    color: var(--color-button);
}

.publish_date {
    position: relative;
    font-weight: 500;
    font-size: 1.1em;
    padding-block-start: 20px;
    padding-inline-start: 40px;
    color: var(--color-button);
}

.heading {
    display: flex;
    position: relative;
    margin-block-start: 20px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.data {
    border: none;
    border-block-end: 2px solid #A5A5A8;
    background: none;
    color: var(--color-foreground);
    padding-inline-start: 10px;
    padding-block-end: 5px;
    margin-inline-start: 20px;
    margin-block-end: 40px;
    width: 90%;
    font-weight: 600;
    text-align: left;
    transition: .2s;
}

.data p {
    height: 200px;
}

.used_skills {
    width: 100%;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
}

.used_skill {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #302f2f;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5px 1px;
    color: #295283;
    transition: .2s;
}

.name_and_button {
    display: flex;
    margin-inline-start: 10px;
    margin-block-end: 10px;
}

.competitor_button {
    margin-inline-start: 20px;
    background: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid var(--color-titles);
    text-decoration: inherit;
    font-weight: 750;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #295283;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}


.competitor_button:active,
.competitor_button:focus,
.competitor_button:hover {
    border-color: var(--color-typeschecked);
    background-color: #004ead;
    color: #fff;
    outline: none;
    margin-block-end: 10px;
}

.send_button {
    margin-inline-start: 20px;
    background: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid var(--color-titles);
    text-decoration: inherit;
    font-weight: 750;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 20%;
    color: #295283;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
    margin-block-start: 40px;
}

.send_button:active,
.send_button:focus,
.send_button:hover {
    border-color: var(--color-typeschecked);
    background-color: #004ead;
    color: #fff;
    outline: none;
}

.buttons_holder {
    display: flex;
    padding-block-end: 25px;
}

.money_holder {
    display: flex;
    width: 70%;
}

.cancel_finish_job {
    display: flex;
}

.competitors {
    margin-block-start: 40px;
    margin-inline-start: 20px;
}

.competitor_and_button {
    display: flex;
}

.accept_button {
    width: 100%;
    height: 50%;
    margin-block-end: 3px;
    border-radius: 25px;
    background-color: var(--color-Background);
    color: var(--color-Accept);
    font-size: 2em;
    align-items: center;
}

.accept_button:hover {
    background-color: var(--color-Accept);
    color: white;
}

.chat_button {
    width: 100%;
    height: 50%;
    margin-block-end: 3px;
    border-radius: 25px;
    background-color: var(--color-Background);
    color: var(--color-foreground);
    font-size: 2em;
    align-items: center;
}

.chat_button:hover {
    background-color: var(--color-title);
    color: white;
}

.buttons_holder2 {
    display: flex;
    flex-direction: column;
    padding-block-end: 25px;
}
.favorite_button {
    font-size: 2em; 
    margin-left: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
  }
  
  .favorite_icon {

    color: transparent;
    transition: color 0.2s;
  }
  
  .favorite_button.active .favorite_icon {
    color: var(--color-typeschecked);
  }