.jobsPage {
    top: 75px;
    position: relative;
    margin-bottom: 100px;
    min-height: 100vh;
}

.pagecontent {
    width: 100%;
    padding-top: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.left_side_container {
    width: 40%;
    min-width: 280px;
    padding-left: 15px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    border-right: 1px;
    border-right-style: outset;
    border-right-color: var(--color-typeschecked);
}

.imageholder {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 50px;
}

.image {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
}

.right_side_container {
    width: 60%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.titleholder {
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.title {
    position: relative;
    padding: 5px;
    padding-left: 40px;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--color-title);
}

.name {
    position: relative;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--color-foreground)
}

.type {
    width: 100%;
    position: relative;
    padding-left: 40px;
    font-weight: 600;
    font-size: 1.1em;
}

.description {
    position: relative;
    min-height: 100px;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--color-button);
    padding: 5px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.salary {
    position: relative;
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 40px;
}

.heading {
    display: flex;
    position: relative;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.data {
    border: none;
    border-bottom: 2px solid #A5A5A8;
    background: none;
    color: var(--color-foreground);
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-bottom: 40px;
    width: 90%;
    font-weight: 600;
    text-align: left;
    transition: .2s;
}

.data p {
    height: 200px;
}

.used_skills {
    width: 100%;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
}

.used_skill {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #302f2f;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5px 1px;
    color: #295283;
    transition: .2s;
}

.name_and_button {
    display: flex;
    margin-left: 10px;
}

.competetor_button {
    margin-left: 20px;
    background: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid var(--color-titles);
    text-decoration: inherit;
    font-weight: 750;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #295283;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}


.competetor_button:active,
.competetor_button:focus,
.competetor_button:hover {
    border-color: var(--color-typeschecked);
    background-color: #004ead;
    color:#fff;
    outline: none;
}

.send_button {
    margin-left: 20px;
    background: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid var(--color-titles);
    text-decoration: inherit;
    font-weight: 750;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 30%;
    color: #295283;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
    margin-top: 40px;
}

.send_button:active,
.send_button:focus,
.send_button:hover {
    border-color: var(--color-typeschecked);
    background-color: #004ead;
    color:#fff;
    outline: none;
}

.money_holder{
    display: flex;
    width:70%;
}

.competetors {
    margin-top: 40px;
    margin-left: 20px;
}