@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.logo {
    position: absolute;
    height: 121px;
    will-change: filter;
    transition: filter 290ms;
    transform: translate(-160px, -200px);
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 32px #00C9FF);
}
.screen {
  background: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #395F87;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background-color: var(--color-background);
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #4F6E95;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #E27D48, #4F6E95);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #3E6FA9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.check {
  color: rgb(14, 147, 30);
  font-size: 200%;
  position: absolute;
  margin-top: 200px;
  transform: translate(-20px, 130px);
}

.success {
  height: 150px;
  color: var(--color-foreground);
  font-size: 180%;
  border: 3px;
  border-style:solid;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  margin-top: 240px;
}

.pending {
  color: var(--color-foreground);
  font-size: 180%;
  margin-top: 240px;
}