.card{
    height: fit-content;
    width: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:var(--color-background);  
    margin-left: 76%;
    transform: translate(0px, -200px);
}
.card:hover{
    background-color:var(--color-background);
}
.content{
    border: 3px;
    border-style:groove;
    border-radius: 5px;
    border-color: var(--color-foreground);
    text-align: center;
}
.Header1{
    background-color: lightgray;
    font-weight: 300;
    font-style: oblique;
    font-size: 1.5em;
    border-bottom: 2px;
    border-bottom-color: black;
}
.words{
    font-style: oblique;
    color: var(--color-button);
}
.complete_register{
    background-color: var(--color-background);
    color: var(--color-foreground);
    border: 3px;
    border-style:groove;
    border-radius: 5px;
    border-color: var(--color-foreground);
    cursor: pointer;
    scale:1.1;
    transform: translate(0px, -10px);
}
.complete_register:hover{
    scale:1.2;
    color:rgb(255, 149, 0);
}