.logo{
    position: relative;
    height: 121px;
    will-change: filter;
    transition: filter 290ms;
    transform: translate(75px, -15px);
}
.card1{
    padding-right: 5%;
    border-color:var(--color-button);
    margin-left: 76%;
    transform: translate(0px, 80px);
    color:var(--color-button);
    background-color:var(--color-background) ;
}
.card2{
    border-color:var(--color-button);
    margin-left: 76%;
    transform: translate(0px, 60px);
    color:var(--color-button);
    background-color:var(--color-background) ;
}
.card3{
    border-color:var(--color-button);
    margin-left: 76%;
    transform: translate(0px, 80px);
    color:var(--color-button);
    background-color:var(--color-background) ;
}

.register_button{
    color:var(--color-button);
    background-color:var(--color-background) ;
    border-color: var(--color-button);
    border-radius: 20px;
}
.register_button:hover{
    color:var(--color-button);
    background-color:darkgrey;
    font-weight: 500;
}

.certificate_button{
    margin-left: 20%;
    color:var(--color-button);
    background-color:var(--color-background) ;
    border-color: var(--color-button);
    border-radius: 10px;
}
.certificate_button:hover{
    color:var(--color-button);
    background-color:rgb(19, 34, 100);
    font-weight: 500;
}

.skills_button{
    margin-left: 25%;
    color:blue;
    background-color:var(--color-background) ;
    border-style: none;
}
.skills_button:hover{
    color:rgb(90, 90, 236);
    font-weight: 500;
}
.pen_button{
    margin-left: 90%;
    margin-top:0 ;
    transform: translate(0px,-25px);
    border-style: none;
    background-color: var(--color-background);
}
.pen{
    color:darkgrey;
}
.pen:hover{
    color:rgb(72, 72, 225);
}
.skills::before{
    content: ".";
}