:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.theme-light {
  --color-background: #fafafa;
  --color-foreground: #3E6FA9;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.theme-dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.fa-google:hover {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-facebook:hover {
  color:#3B5998;
}

.fa-linkedin:hover {
  color:#04669A;
}
