.reportsPage {
    display: flex;
}

.tableContainer {
    width: 100%;
    border-collapse: collapse;
    margin-block-start: 20px;
}

.tableCell {
    padding: 10px;
    vertical-align: top;
    width: 100%;
}

.chartContainer {
    margin-block-end: 20px;
    width: 100%;
}

.chartTitle {
    font-size: 18px;
    font-weight: bold;
    margin-block-end: 10px;
}

.totalProfitContainer {
    margin-block-start: 20px;
}

.totalProfitTitle {
    font-size: 18px;
    font-weight: bold;
    margin-block-end: 10px;
}

.totalProfitAmount {
    font-size: 24px;
    font-weight: bold;
}

/* Styles for the table headers */
.tableHeader {
    font-weight: bold;
    margin-block-end: 10px;
}

/* Additional styles for the select dropdowns */
select {
    padding: 8px;
    margin-block-end: 10px;
    border-radius: 4px;
}

/* Additional styles for the bar charts */
.recharts-cartesian-axis-tick-value {
    font-size: 12px;
}

/* Additional styles for the legends */
.recharts-legend-item-text {
    font-size: 12px;
}