.Profile {
    display: flex;
  }
  
  .leftSidecontainer {
    display: relative;
    width:80%;
    padding-left: 20px;
  }
  .leftside1{
    display: relative;
    left:40px;
    background-color: red;
  }
  
  .rightSideContainer {
    width:20%;
    display: absolute;
  }
  
