.progress_bar {
  display: flex;
  padding: 6px;
  border-radius: 6px;
  align-items: center;
}

.progress_steps_container {
  display: flex;
  flex-direction: row-reverse;
  /* Change flex direction to reverse */
  flex: 1;
}

.progress_step {
  flex: 1;
  position: relative;
  text-align: center;
  color: #555;
  background-color: #ccc;
  padding: 10px;
  font-weight: bold;
  cursor: default;
  transition: 0.3s ease;
}


.progress_step:not(:first-child):before {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: -10px;
  /* Adjust right position for arrow */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-block-start: 10px solid transparent;
  border-block-end: 10px solid transparent;
  border-inline-start: 10px solid #ccc;
  /* Change border to point to the left */
}

.progress_step:not(:last-child):after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: -10px;
  /* Adjust left position for arrow */
  transform: translateY(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-block-start: 10px solid transparent;
  border-block-end: 10px solid transparent;
  border-inline-end: 10px solid #ccc;
  /* Change border to point to the right */
  display: none;
  /* Hide the arrow initially */
}


.progress_step:first-child:before {
  display: none;
}

.progress_step:last-child:after {
  display: none;
}

.progress_step.active {
  background-color: #007bff;
  color: #fff;
}

.progress_step.active:before {
  border-inline-start-color: #007bff;
  /* Adjust border color */
}

.progress_step.active:after {
  display: block;
  /* Show the arrow for the active step */
  border-inline-end-color: #007bff;
  /* Adjust border color */
}