.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #395F87;
}

html[dir='ltr'] .screen {
  background: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
}

html[dir='rtl'] .screen {
  background: linear-gradient(-90deg, #00C9FF, #E27D48, #3B6D99);
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

html[dir='ltr'] .screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

html[dir='rtl'] .screen__background__shape {
  transform: rotate(-45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background-color: var(--color-background);
  inset-block-start: -50px;
  inset-inline-end: 120px;
  border-radius: 72px 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #4F6E95;
  inset-block-start: -172px;
  inset-inline-end: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  inset-block-start: -24px;
  inset-inline-end: 0;
  border-radius: 32px;
}

html[dir='rtl'] .screen__background__shape3 {
  background: linear-gradient(270deg, #E27D48, #4F6E95);
}

html[dir='rtl'] .screen__background__shape3 {
  background: linear-gradient(270deg, #4F6E95, #E27D48);
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #3E6FA9;
  inset-block-start: 420px;
  inset-inline-end: 50px;
  border-radius: 60px;
}

.logo {
  position: absolute;
  height: 83px;
  will-change: filter;
  transition: filter 290ms;
}

html[dir='ltr'] .logo {
  translate: -156px 13px;
}

html[dir='rtl'] .logo {
  height: 67px;
  translate: 156px 13px;
}

.logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 32px #00C9FF);
}

.check {
  color: green;
}

.success {
  position: absolute;
  height: 150px;
  width: 300px;
  color: var(--color-foreground);
  font-size: 30px;
  padding: 10px;
  margin-block-start: 150px;
  text-decoration: inherit;
}

.pending {
  position: absolute;
  height: 150px;
  width: 300px;
  color: var(--color-foreground);
  font-size: 30px;
  padding-inline-start: 10px;
  margin-block-start: 150px;
  text-decoration: inherit;
}