.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {        
    background: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
    position: relative; 
    height: 600px;
    width: 360px;   
    box-shadow: 0px 0px 24px #395F87;
}

.screen__content {
    z-index: 1;
    position: relative; 
    height: 100%;
}

.screen__background {        
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);    
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background-color:var(--color-background);   
    top: -50px;
    right: 120px;   
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #4F6E95;    
    top: -172px;
    right: 0;   
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #E27D48, #4F6E95);
    top: -24px;
    right: 0;   
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #3E6FA9;    
    top: 420px;
    right: 50px;    
    border-radius: 60px;
}

.title {
    position: absolute;
    width: 96px;
    font-size: 24px;
    font-weight: 480;
    translate: 96px 24px;
}

.logo {
    position: absolute;
    height: 83px;
    will-change: filter;
    transition: filter 290ms;
    translate: -156px 13px;
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 32px #00C9FF);
}

.label1 {
    color: var(--color-foreground);
    font-size: 85%;
    font-style: oblique;
}

.success {
    height: 150px;
    color: var(--color-foreground);
    font-size: 180%;
    border:3px;
    border-style:double;
    border-radius: 15px;
    border-color:#367b2a;
    z-index: 1;
    position:absolute;
    margin-top: 220px;
}

.failed {
    height: 150px;
    color: var(--color-foreground);
    font-size: 180%;
    border:3px;
    border-style:double;
    border-radius: 15px;
    border-color:rgb(222, 0, 19);
    z-index: 1;
    position:absolute;
    margin-top: 220px;
}

.check {
    color:rgb(14, 147, 30);
    font-size: 200%;
    position:absolute;
    margin-top: 200px;
    transform:translate(-20px,130px);
}

.xmark{
    color:rgb(222, 0, 19);
    font-size: 200%;
    position:absolute;
    margin-top: 200px;
    transform:translate(-20px,130px);
}

.ForgotPassword {    
    box-sizing: border-box;
    margin: 0;
    width: 400px;
    padding-left: 40px;
    padding-right: 120px;
    padding-top: 160px;
    position: relative;
    z-index: 0;
}

.ForgotPassword__submit {
    background: #fff;
    font-size: 15px;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 1px solid #A7A6BC;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 750;
    display: flex;
    align-items: center;
    width: 100%;
    color: #3E6FA9;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}

.ForgetPassword__submit:active,
.ForgetPassword__submit:focus,
.ForgetPassword__submit:hover {
    border-color: #4F6E95;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #58708F;
}
