.carousel {
    inset-block-start: 70px;
    width: 100%;
    height: 90vh;
    background-color: #3A3B3C;
    overflow: hidden;
    position: relative;
}

.carousel_item {
    height: 90vh;
}

.carousel_item,
.carousel_item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
}

.carousel_item::before {
    content: "";
    background-color: rgba(58, 59, 60, 0.8);
}

.carousel_caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 50px;
    inset-inline-end: 50px;
}

.carousel_container {
    text-align: center;
}

.carousel_container span {
    color: #fff;
    margin-block-end: 20px;
    font-size: 48px;
    font-weight: 700;
}

.carousel_container p {
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

.carousel_buttons {
    display: flex;
    justify-content: space-between;
}

.carousel_buttons button {
    background: #ddd;
    font-size: 15px;
    margin-block-start: 5px;
    margin-inline-start: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #A7A6BC;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 750;
    display: flex;
    align-items: center;
    width: 75%;
    color: #3E6FA9;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .25s;
}

.carousel_buttons button:active,
.carousel_buttons button:focus,
.carousel_buttons button:hover {
    border-color: #4F6E95;
    background: #d3d4d5;
    outline: none;
}

.container1 {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-block-start: 100px;
    justify-content: center;
}

.container2 {
    display: block;
    position: relative;
    text-align: center;
    width: 60%;
    min-height: 1px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-end: 20px;
    margin-block-end: 10px;
}

.container2 span {
    display: block;
    line-height: 1;
    font-size: 110px;
    font-weight: 700;
    margin-block-end: 10px;
    color: var(--color-foreground);
}

.container2 h2 {
    display: block;
    font-size: 46px;
    font-weight: 700;
    margin-block-end: 23px;
    text-transform: capitalize;
    color: var(--color-foreground);
}

.container2 p {
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    margin-block-end: 15px;
    color: var(--color-foreground);
}