.field {
    padding-block-start: 30px;
    padding-block-end: 10px;
    width: 100%;
    position: relative;
}

.icon {
    position: absolute;
    color: var(--color-foreground);
}

.input {
    border: none;
    border-block-end: 2px solid #A5A5A8;
    background: none;
    color: var(--color-foreground);
    padding-inline-start: 24px;
    padding-block-end: 8px;
    width: 80%;
    font-size: 15px;
    font-weight: 700;
    transition: .2s;
}

.input:active,
.input:focus,
.input:hover {
    outline: none;
    border-block-end-color: #4F6E95;
}

.option {
    background-color: var(--color-background);
}