.jobFeedContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  padding-top: 80px; /* Adjust this value based on the height of your navbar */
  height: 100%;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 70%;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  margin: 10px;
  width: 100%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .postsContainer {
    grid-template-columns: 1fr;
  }
  .stats {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .postsContainer {
    grid-template-columns: 1fr;
  }
  .stats {
    max-width: 100%;
  }
}
