.manage {
    inset-block-start: 75px;
    position: relative;
    margin-block-end: 100px;
    min-height: 100vh;
}

.screen {
    display: flex;
}

.slider {
    display: flex;
    margin-block-end: 20px;
    justify-content: center;
}

.slider button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    cursor: pointer;
}

.slider button.active {
    background-color: #ccc;
}

.content {
    padding: 10px;
    background-color: #f9f9f9;
}

.mid_container {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.job_card {
    width: 90%;
    border: 2px;
    border-radius: 20px;
    border-style: outset;
    border-color: var(--color-rating);
    margin-block-start: 5px;
    margin-inline-start: 5%;
}

.job_card a {
    text-decoration: none;
}

.show_button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-block-start: 5px;
    margin-block-end: 15px;
    margin-inline-start: 7.5%;
    text-decoration: underline;
    color: var(--color-button);
    background-color: transparent;
    transition: 0.2s;
}

.show_button:hover {
    font-size: 16px;
    transition: 0.2s;
}

.show_offer_info {
    display: flex;
    align-items: center;
    justify-content: center;
}