.Profile {
    display: flex;
    padding: 5px 15px;
}

.leftSideContainer {
  display: relative;
  width: 75%;
  min-width: 375px;
  padding-left: 25px;
}

.rightSideContainer {
  display: relative;
  width: 25%;
  padding-right: 25px;
} 

.leftside {
  display: relative;
}  

@media screen and (max-width: 582px) {
  .Profile {
    display: block;
  }
}

/* .rightSidefirst{
  position:sticky;
  top:0;
  z-index: 98;
} */

