.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    position: relative;
    height: 600px;
    width: 720px;
    box-shadow: 0px 0px 24px #395F87;
}

.screen__shape {
    position: absolute;
    height: 600px;
    width: 360px;
}

html[dir='ltr'] .screen__shape {
    background: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
}

html[dir='rtl'] .screen__shape {
    background: linear-gradient(-90deg, #00C9FF, #E27D48, #3B6D99);
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

html[dir='ltr'] .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

html[dir='rtl'] .screen__background__shape {
    transform: rotate(-45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background-color: var(--color-background);
    inset-block-start: -50px;
    inset-inline-end: 120px;
    border-radius: 72px 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #4F6E95;
    inset-block-start: -172px;
    inset-inline-end: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    inset-block-start: -24px;
    inset-inline-end: 0;
    border-radius: 32px;
}

html[dir='ltr'] .screen__background__shape3 {
    background: linear-gradient(270deg, #E27D48, #4F6E95);
}

html[dir='rtl'] .screen__background__shape3 {
    background: linear-gradient(-270deg, #E27D48, #4F6E95);
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #3E6FA9;
    inset-block-start: 420px;
    inset-inline-end: 50px;
    border-radius: 60px;
}

.title {
    position: absolute;
    font-size: 32px;
    font-weight: 480;
}

html[dir='ltr'] .title {
    translate: 160px 32px;
}

html[dir='rtl'] .title {
    translate: -128px 32px;
}

.logo {
    position: absolute;
    height: 83px;
    will-change: filter;
    transition: filter 290ms;
}

html[dir='ltr'] .logo {
    translate: -312px 13px;
}

html[dir='rtl'] .logo {
    translate: 312px 13px;
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 32px #00C9FF);
}

.slider {
    position: absolute;
    inset-block-end: 0;
    height: 46px;
    width: 92px;
    border-radius: 1px;
    background: linear-gradient(90deg, rgb(255, 195, 110), rgb(255, 146, 91));
    transition: all 0.5s ease-in-out;
}

.btn {
    position: absolute;
    display: flex;
    height: 48px;
    width: 192px;
    border-width: 1px;
    border-block-end: solid;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-scrollbar-thump);
}

html[dir='ltr'] .btn {
    translate: 320px 32px;
}

html[dir='rtl'] .btn {
    translate: -320px 32px;
}

.btn button {
    position: relative;
    font-size: 16px;
    font-weight: 480;
    border: none;
    color: var(--color-foreground);
    background-color: transparent;
}

.register {
    box-sizing: border-box;
    margin: 0;
    width: 600px;
    padding-inline-start: 20px;
    padding-inline-end: 30px;
    padding-block-start: 85px;
}

.register__row {
    display: flex;
    position: relative;
}

.register__field__radio {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    position: relative;
}

.register__input__radio {
    padding: 10px 0px;
    padding-inline-start: 3px;
    font-weight: 500;
    width: 35%;
    color: var(--color-foreground);
    text-decoration: inherit;
    accent-color: #4F6E95;
}

.register__login {
    font-size: 15px;
    margin-block-start: 5px;
    margin-inline-start: 30px;
    padding: 10px 15px;
    text-decoration: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--color-foreground);
    cursor: pointer;
    transition: .15s;
}

.register__login a {
    font-size: 19px;
    padding: 10px 15px;
    text-decoration: inherit;
    font-weight: 500;
    color: var(--color-foreground);
    cursor: pointer;
    transition: .15s;
}

.register__login a:hover {
    text-decoration: underline;
    color: #00C9FF;
}

.register__submit {
    font-size: 15px;
    margin-block-start: 5px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #A7A6BC;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 70%;
    color: #3E6FA9;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}

.register__submit:active,
.register__submit:focus,
.register__submit:hover {
    border-color: #4F6E95;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-inline-start: auto;
    color: #58708F;
}

html[dir='rtl'] .button__icon {
    transform: scaleX(-1);
}

/* Date Picker */
.date_picker {
    width: 100%;
}

.date_picker_icon {
    margin-inline-start: -7px;
}

html[dir='rtl'] .date_picker input {
    padding-inline-start: 23px;
}

.xmark {
    color: red;
}

.message {
    width: 300px;
    color: var(--color-foreground);
    font-size: 30px;
    padding: 10px;
    padding-block-start: 200px;
    margin-inline-start: 150px;
    text-decoration: inherit;
}

@media screen and (max-width: 727.5px) {
    .screen {
        height: 1000px;
        width: 96vw;
    }

    .register {
        width: 96vw;
        padding-block-start: 96px;
    }

    .register__row {
        flex-direction: column;
    }

    .screen__shape,
    .screen__background__shape1,
    .screen__background__shape2,
    .screen__background__shape3,
    .screen__background__shape4 {
        display: none;
    }

    html[dir='ltr'] .title {
        translate: 130% 13px;
    }

    html[dir='rtl'] .title {
        translate: -130% 13px;
    }

    .logo {
        height: 50px;
    }

    html[dir='ltr'] .logo {
        translate: -246% 11px;
    }

    html[dir='rtl'] .logo {
        translate: 246% 11px;
    }

    html[dir='ltr'] .btn {
        translate: 50% 64px;
    }

    html[dir='rtl'] .btn {
        translate: -50% 64px;
    }

    .register__submit {
        margin-inline-start: 15px;
    }
}