.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #395F87;
}

html[dir='ltr'] .screen {
    background: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
}

html[dir='rtl'] .screen {
    background: linear-gradient(-90deg, #00C9FF, #E27D48, #3B6D99);
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

html[dir='ltr'] .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

html[dir='rtl'] .screen__background__shape {
    transform: rotate(-45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background-color: var(--color-background);
    inset-block-start: -50px;
    inset-inline-end: 120px;
    border-radius: 72px 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #4F6E95;
    inset-block-start: -172px;
    inset-inline-end: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    inset-block-start: -24px;
    inset-inline-end: 0;
    border-radius: 32px;
}

html[dir='rtl'] .screen__background__shape3 {
    background: linear-gradient(270deg, #E27D48, #4F6E95);
}

html[dir='rtl'] .screen__background__shape3 {
    background: linear-gradient(270deg, #4F6E95, #E27D48);
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #3E6FA9;
    inset-block-start: 420px;
    inset-inline-end: 50px;
    border-radius: 60px;
}

.title {
    position: absolute;
    width: 96px;
    font-size: 24px;
    font-weight: 480;
}

html[dir='ltr'] .title {
    translate: 96px 24px;
}

html[dir='rtl'] .title {
    translate: -32px 32px;
}

.logo {
    position: absolute;
    height: 83px;
    will-change: filter;
    transition: filter 290ms;
}

html[dir='ltr'] .logo {
    translate: -156px 13px;
}

html[dir='rtl'] .logo {
    translate: 156px 13px;
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 32px #00C9FF);
}

.reset {
    box-sizing: border-box;
    margin: 0;
    width: 300px;
    padding-block-start: 100px;
}

.success {
    position: absolute;
    height: 150px;
    width: 300px;
    color: var(--color-foreground);
    font-size: 30px;
    padding: 10px;
    margin-block-start: 150px;
    text-decoration: inherit;
}

.navigateButton {
    font-size: 60%;
    margin: 3px;
    padding-block-start: 5px;
    background-color: #4F6E95;
    color: var(--color-button);
    border: hidden;
    border-radius: 20px;
}

.navigateButton:hover {
    background-color: #E27D48;
    scale: 1.1;
}

.reset__submit {
    background: #fff;
    font-size: 15px;
    margin-block-start: 5px;
    margin-inline-start: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #A7A6BC;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 750;
    display: flex;
    align-items: center;
    width: 75%;
    color: #3E6FA9;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .25s;
}

.reset__submit:active,
.reset__submit:focus,
.reset__submit:hover {
    border-color: #4F6E95;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-inline-start: auto;
    color: #58708F;
}

html[dir='rtl'] .button__icon {
    transform: scaleX(-1);
}