.screen {
    inset-block-start: 75px;
    position: relative;
    margin-block-end: 100px;
}

.heading {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_button {
    background: var(--color-addbutton);
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid var(--color-button);
    text-decoration: inherit;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: #000000;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}

.portfolios {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-titles);
    width: 90%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 5px;
    border: 3px inset var(--color-rating);
    border-radius: 12px;
    font-size: 12px;
}

.portfolio_card {
    margin: 0.5%;
    width: 19%;
}

.back_button {
    background: #d4d5d6;
    font-size: 15px;
    padding: 10px 30px;
    margin-block-start: 10px;
    border-radius: 25px;
    border: 1px solid var(--color-button);
    text-decoration: inherit;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: #000000;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}

@media screen and (max-width: 970px) {
    .portfolio_card {
        width: 24%;
    }
}

@media screen and (max-width: 727.5px) {
    .portfolio_card {
        width: 32%;
    }
}

@media screen and (max-width: 485px) {
    .portfolio_card {
        width: 49%;
    }
}

@media screen and (max-width: 363.75px) {
    .portfolio_card {
        width: 99%;
    }
}