.container {
    inset-block-start: 75px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 100px;
}

.screen {
    height: 1440px;
    width: 960px;
    position: flex;
    border-radius: 10px;
    background-color: var(--color-scrollbar-track2);
    box-shadow: 0 4px 6px #bcb2d21a;
}

.screen_content {
    z-index: 1;
    position: relative;
    padding: 0px 30px;
    height: 100%;
}

.heading {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.all_cards {
    display: flex;
    justify-content: space-evenly;
}

.card_limit {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card_limit:hover {
    font-size: 1.1em;
}

.title {
    align-items: center;
    text-align: center;
}

.job_icon {
    cursor: pointer;
    font-size: 2.5em;
    align-self: center;
    margin-block-start: 10px;
}