.container {
    inset-block-start: 75px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 100px;
}

.screen {
    height: 1440px;
    width: 960px;
    position: flex;
    border-radius: 10px;
    background-color: var(--color-scrollbar-track2);
    box-shadow: 0 4px 6px #bcb2d21a;
}

.screen_content {
    z-index: 1;
    position: relative;
    padding: 0px 30px;
    height: 100%;
}

.heading {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.all_cards {
    display: flex;
    justify-content: space-evenly;
}

.card_limit {
    max-width: 150px;
    max-height: 150px;
}

.card_background {
    color: var(--color-rating);
    cursor: pointer;
}

.card_background::before {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.35s ease;
}

.card_background:hover::before {
    opacity: 1;
}

.Card_Img {
    width: 150px;
    height: 125px;
    object-fit: fill;
}

.title {
    align-items: center;
    text-align: center;
}