.cards {
  width: 90%;
  min-height: 180px;
  margin-block-end: 9px;
  background-color: var(--color-backgroundV2) !important;
}

.background {
  min-height: 180px;
  color: var(--color-button);
  background: var(--color-background);
}

.titles {
  background-color: var(--color-titles) !important;
}

.title {
  color: var(--color-title);
}

.pen_button {
  margin-inline-start: 90%;
  border-style: none;
  translate: 0px -25px;
  background-color: var(--color-titles);
}

.pen {
  color: darkgrey;
}

.pen:hover {
  color: #4845d7;
}

.skills_button {
  padding: 0px;
  text-align: center;
  border-style: none;
  color: blue;
  background-color: var(--color-background);
}

.skills_button:hover {
  font-weight: 500;
  color: #5a5aec;
}

.cer_img {
  text-align: center;
  position: relative;
  padding-block-end: 10px;
}

.cer_img img {
  width: 100px;
}

.portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.portfolio_title {
  font-size: 36px;
  font-weight: 700;
  padding: 10px 20px;
  margin-block-start: 15px;
  border: none;
  display: flex;
  color: var(--color-rating);
  justify-content: space-between;
}

.portfolio_button {
  margin-block-start: 5px;
  margin-block-end: 10px;
}

.portfolio_div {
  padding: 5px;
}

.portfolio_card {
  width: 100%;
  background-color: var(--color-backgroundV2) !important;
}

.portfolio_background {
  color: var(--color-rating);
  background-color: var(--color-background);
}

.portfolio_background::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.35s ease;
}

.portfolio_background:hover::before {
  opacity: 1;
}

.Card_Img {
  width: 150px;
  height: 300px;
  object-fit: fill;
}

.no_data {
  position: relative;
  font-size: 120%;
  color: var(--color-foreground);
}

@media screen and (max-width: 970px) {
  .portfolio {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}