.edit_menu {
  display: flex;
  flex-direction: column;
}

.edit__row {
  display: flex;
  position: relative;   
}

.submit_button,
.save_button,
.cancel_button {
  margin: 5px 1px;
  padding: 5px 10px;
}

.success_message {
  color: green;
  margin-bottom: 10px;
}

.fail_message {
  color: red;
  margin-bottom: 10px;
}
