.edit_menu {
  position: relative;
}

.edit__row {
  display: flex;
  position: relative;   
  text-align: center;
}

.submit_button,
.save_button {
  width: 110px;
  margin: 5px 1px;
  padding: 5px 10px;
}

.success_message {
  color: green;
  margin-bottom: 10px;
}

.fail_message {
  color: red;
  margin-bottom: 10px;
}

@media screen and (max-width: 970px) {
  .edit_menu {
    text-align: center;
  }
}