.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    position: relative;
    height: 500px;
    width: 600px;
    box-shadow: 0px 0px 24px #395F87;
}

.screen__shape {
    position: absolute;
    height: 500px;
    width: 300px;
}

html[dir='ltr'] .screen__shape {
    background: linear-gradient(90deg, #00C9FF, #E27D48, #3B6D99);
}

html[dir='rtl'] .screen__shape {
    background: linear-gradient(-90deg, #00C9FF, #E27D48, #3B6D99);
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

html[dir='ltr'] .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

html[dir='rtl'] .screen__background__shape {
    transform: rotate(-45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background-color: var(--color-background);
    inset-block-start: -50px;
    inset-inline-end: 120px;
    border-radius: 72px 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #4F6E95;
    inset-block-start: -172px;
    inset-inline-end: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    inset-block-start: -24px;
    inset-inline-end: 0;
    border-radius: 32px;
}

html[dir='ltr'] .screen__background__shape3 {
    background: linear-gradient(270deg, #E27D48, #4F6E95);
}

html[dir='rtl'] .screen__background__shape3 {
    background: linear-gradient(-270deg, #E27D48, #4F6E95);
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #3E6FA9;
    inset-block-start: 420px;
    inset-inline-end: 50px;
    border-radius: 60px;
}

.title {
    position: absolute;
    font-size: 32px;
    font-weight: 480;
}

html[dir='ltr'] .title {
    translate: 160px 32px;
}

html[dir='rtl'] .title {
    translate: -160px 32px;
}

.logo {
    position: absolute;
    height: 83px;
    will-change: filter;
    transition: filter 290ms;
}

html[dir='ltr'] .logo {
    translate: -260px 13px;
}

html[dir='rtl'] .logo {
    translate: 260px 13px;
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 32px #00C9FF);
}

.message {
    height: 150px;
    width: 300px;
    color: var(--color-foreground);
    font-size: 30px;
    padding: 10px;
    margin-block-start: 130px;
    margin-inline-start: 130px;
    text-decoration: inherit;
}

.check {
    color: green;
}

.xmark {
    color: red;
}

.redeem_code {
    box-sizing: border-box;
    width: 600px;
    padding-inline-start: 20px;
    padding-inline-end: 30px;
    padding-block-start: 85px;
}

.submit_code {
    padding-block-start: 85px;
}

.form__submit {
    font-size: 15px;
    margin-block-start: 10px;
    padding: 10px 20px;
    margin-inline-start: 50px;
    border-radius: 25px;
    border: 1px solid #A7A6BC;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 70%;
    color: #3E6FA9;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px #395F87;
    cursor: pointer;
    transition: .2s;
}

.form__submit:active,
.form__submit:focus,
.form__submit:hover {
    border-color: #4F6E95;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-inline-start: auto;
    color: #58708F;
}

html[dir='rtl'] .button__icon {
    transform: scaleX(-1);
}

.no_reason {
    margin-block-start: 60px;
    margin-inline-start: -60px;
}

.anchor {
    text-decoration: none;
    font-size: 20px;
}

.anchor:hover {
    text-decoration: underline;
}