.user_info_card {
  width: 90%;
  margin-bottom: 9px;
  margin-top: 9px;
  padding: 2px;
  background-color: var(--color-background) !important;
}

.user_info_inside {
  width: 100%;
  display: flex;
  padding: 10px 10px;
  background: var(--color-background);
}

.user_info_title {
  color: var(--color-rating);
}

.profile_picture {
  width: 300px;
  height: 300px;
  border-radius: 30%;
  padding: 10px 10px;
  will-change: filter;
  transition: filter 300ms;
}

.info_in_profile{
  width: 50%;
  padding: 10px 10px;
}

.specification {
  color: var(--color-foreground);
  margin-bottom: 10px;
  font-size: 20px;
}

.location,
.rating {
  margin-bottom: 5px;
  color: var(--color-rating);
}

.description {
  color: var(--color-foreground);
  font-size: 16px;
  margin-bottom: 8px;
}

@media screen and (max-width: 970px) {
  .user_info_inside {
    display: block;
    text-align: center;
  }
  
  .info_in_profile {
    width: 100%;
  }
}