.user_info_card {
  width: 90%;
  margin-block-end: 9px;
  background-color: var(--color-backgroundV2) !important;
}

.user_info_inside {
  width: 100%;
  display: flex;
  padding: 10px 10px;
  background: var(--color-background);
}

.user_info_title {
  color: var(--color-rating);
}

.info_in_profile {
  width: 50%;
  padding: 10px 10px;
}

.specification {
  color: var(--color-foreground);
  margin-block-end: 10px;
  font-size: 20px;
}

.location,
.rating {
  margin-block-end: 5px;
  color: var(--color-rating);
}

.description {
  color: var(--color-rating);
  font-size: 16px;
  margin-block-end: 8px;
}

.profile_picture_container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  padding: 10px 10px;
  will-change: filter;
  transition: filter 300ms;
}

.profile_picture_overlay {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile_picture_container:hover .profile_picture_overlay {
  opacity: 1;
}

.profile_picture_text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.Card_Img {
  width: 250px;
  height: 250px;
  object-fit: fill;
  border-radius: 10px;
}

@media screen and (max-width: 970px) {
  .user_info_inside {
    display: block;
    text-align: center;
  }

  .info_in_profile {
    width: 100%;
  }
}


/* EditMenu CSS */
.edit_menu {
  position: relative;
}

.edit__row {
  display: flex;
  position: relative;
  text-align: center;
}

.submit_button,
.save_button {
  width: 110px;
  margin: 5px 1px;
  padding: 5px 10px;
}

.success_message {
  color: green;
  margin-block-end: 10px;
}

.fail_message {
  color: red;
  margin-block-end: 10px;
}

@media screen and (max-width: 970px) {
  .edit_menu {
    text-align: center;
  }
}