.wallet_card {
  width: 90%;
  margin-bottom: 9px;
  background-color: var(--color-backgroundV2) !important;
}

.wallet_inside {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 10px 10px;
  background-color: var(--color-background);
}

.wallet_image {
  width: 170px;
  height: 170px;
  padding: 10px 10px;
  will-change: filter;
  transition: filter 290ms;
}

.wallet_info {
  width: 75%;
  padding: 10px 10px;
}

.wallet_title {
  width: 100%;
  padding: 1px;
  border: 1px;
  border-style: none;
  border-radius: 10px;
  color: var(--color-rating);
  background-color: var(--color-titles)
}

.wallet_body {
  width: 100%;
  padding: 2px;
  color: var(--color-button);
  font-size: 20px;
}

.redeem {
  display: flex;
}

.redeem_title {
  color: var(--color-foreground);
}

.redeem_submit {
  font-size: 15px;
  margin-top: 30px;
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid #A7A6BC;
  text-decoration: inherit;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 30%;
  color: var(--color-foreground);
  background-color: var(--color-background);
  box-shadow: 0px 2px 2px #395F87;
  cursor: pointer;
  transition: .25s;
}

.redeem_submit:active,
.redeem_submit:focus,
.redeem_submit:hover {
  border-color: #4F6E95;
  background-color: #396397;
  color:orange;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #5da3ff;
}

@media screen and (max-width: 970px) {
  .wallet_inside {
    display: block;
  }
  
  .wallet_info {
    width: 100%;
  }
}