.logo{
    position: relative;
    height: 121px;
    will-change: filter;
    transition: filter 290ms;
    transform: translate(75px, -15px);
}
.title{
    color:var(--color-title) ;
}
.background{
    background: var(--color-background);
    color:var(--color-button);
}
.body{
    background: var(--color-background);
}
.card1{
    border-color:var(--color-button);
    transform: translate(0px, 120px);

}
.card2{
    border-color:var(--color-button);
    transform: translate(0px, 120px);

}
.card3{
    border-color:var(--color-button);
    transform: translate(0px, 120px);

}
.titlesplace{
    background-color: var(--color-titlesall) !important; 
}

.register_button{
    color:var(--color-button);
    background-color:var(--color-background) ;
    border-color: var(--color-button);
    border-radius: 20px;
}
.register_button:hover{
    color:var(--color-button);
    background-color:darkgrey;
    font-weight: 500;
}

.certificate_button{
    margin-left: 20%;
    color:var(--color-button);
    background-color:var(--color-background) ;
    border-color: var(--color-button);
    border-radius: 10px;
}
.certificate_button:hover{
    color:var(--color-button);
    background-color:rgb(19, 34, 100);
    font-weight: 500;
}

.skills_button{
    text-align: center;
    padding:0px;
    color:blue;
    background-color:var(--color-background) ;
    border-style: none;
}
.skills_button:hover{
    color:rgb(90, 90, 236);
    font-weight: 500;
}
.pen_button{
    margin-left: 90%;
    margin-top:0 ;
    transform: translate(0px,-25px);
    border-style: none;
    background-color: var(--color-titlesall);
}
.pen{
    color:darkgrey;
}
.pen:hover{
    color:rgb(72, 72, 225);
}
.skills::before{
    content: ".";
}
.nullmessage{
    height: 50px;
    color: var(--color-foreground);
    font-size: 120%;
    z-index: 1;
    position:relative;
    margin-top: 0px;
}